body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.wrapper {
    display: grid;
    grid-template-columns: 1.2fr 6fr;
    padding: 20px 0px 20px;
    align-items: center;
}
.section-one{
    height: 100%;
}
.box {
    position: fixed;
    padding-left: 10px;
}
.ig {
    padding-bottom: 10px;
}
.li-holder {
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 50px;
}
.more {
    padding-top: 10px;
}
.li-holder img,
.profile img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
/* style for section-two */
.section-two{
    display: grid;
    grid-template-columns: 3.5fr 2.5fr;
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
}
.sub-section-two{
    margin: 0px 0px 0px 100px;
    display: flex;
}
.feed-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border: 1px ridge;
    border-radius: 5px;
    padding-left: 20px;
    width: 470px;
    line-height: .1px;
}
.feed-title img{
    width: 70px;
}
.story img,
.profile-story img{
    width: 55px;
}
.feed-title p{
    font-size: 15px;
    padding-right: 10px;
    color: gray;
}
/* style for feed-title1-4 */
.feed-title1,
.feed-title2,
.feed-title3,
.feed-title4 {
    display: flex;
    align-items: center;
    margin-top: 20px;
    border: 1px solid gray;
    width: 490px;
    border-radius: 5px;
    background-color: white;
}
.feed-title1 span {
    margin-left: 115px;
}
.feed-title3 span {
    margin-left: 125px;
}
.feed-title2 span,
.feed-title4 span {
    margin-left: 180px;
}
.feed-title1 img,
.feed-title2 img,
.feed-title3 img,
.feed-title4 img{
    border-radius: 50%;
    width: 32px;
    clip-path: circle();
}
.feed-img1 img{
    width: 492px;
    margin-top: -4px;
}
.card-likes-holder {
    border: 1px solid gray;
    border-radius: 5px;
    width: 490px;
    margin-top: -4px;
    line-height: 1.1px;
}
.card-id {
    display: flex;
    padding: 10px;
    gap: 15px;
    font-size: 20px;
}
 .fa-bookmark-o {
    padding-left: 340px;
}
.card-likes-holder p{
    padding-left: 10px;
}
.likes :first-child {
    padding-bottom: 20px;
}
.likes .hours {
    line-height: 15px;
    color: gray;
    font-size: 12px;
}
.comments span{
    align-items: center;
    gap: 10px;
}
.comments :last-child{
    padding-left: 440px
}
.feed-title1 a,
.feed-title2 a, 
.feed-title3 a, 
.feed-title4 a  {
    text-decoration: none;
    padding-right: 80px;
    padding-left: 10px;
}

/* style for section-two-rightside */
.section-two-rightside {
   margin-left: 40px;
   font-size: 12px;
}
.owner-profile{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.owner-profile img{
    border-radius: 50%;
    width: 55px;
}
.owner-profile a {
    padding-left: 20px;
}
.suggestion-list{
    display: flex;
    align-items: center;
    gap: 20px;
}
.suggestion-list img {
    border-radius: 50%;
    width: 32px;
    clip-path: circle();
}
.owner-profile a,
.suggestion-list a{
    text-decoration: none;
    color: rgba(0, 162, 255, 0.9);
}
.owner-profile .name,
.suggestion-list .name{
    width: 200px;
    line-height: 5px;
}
.suggestions {
    display: flex;
    align-items: center;
}
.copyright {
    color: gray;
    line-height: 20px;
    margin-top: 40px;
}